__pycache__/
Data/Instruments/*.instrument
Data/Instruments/*.share
Data/Instruments/*.bond
Data/Instruments/*.etf
Data/_gather.queue
Data/*.data
Data/*.samples
Data/*.index
.trash/
profile.pyspy
.vscode/*
